{
    "swagger": "2.0",
    "info": {
        "version": "0.1",
        "title": "Adobe CC Libraries APIs"
    },
    "host": "cc-libraries.adobe.io",
    "basePath": "/",
    "tags": [
        {
            "name": "Library Service",
            "description": "App-facing APIs for Adobe CC Libraries."
        },
        {
            "name": "Library Service - Bookmarks",
            "description": "App-facing APIs specifically for Adobe CC Library Bookmarks."
        },
        {
            "name": "Library Service - Public",
            "description": "App-facing APIs specifically for Adobe CC Public Libraries."
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/v1/libraries": {
            "get": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Retrieve libraries for a user",
                "description": "",
                "operationId": "getLibraries",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Sorting option for the response list. \nReverse sort is enabled with a - character ahead of the sorting vector. (ex: -modified_date) \nMulti-vector sort is enabled by including multiple vectors separated by commas. (ex: name,-modified_date) \nSorting is not available for public libraries. \n\n**Possible Values** \n- `name`: Sort by the name.\n- `modified_date`: Sort by the last modified date.",
                        "required": false,
                        "type": "string",
                        "default": "-modified_date"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "The first result to include for a paged response, 0-based. \nThis parameter is required if a limit is specified. \nPaging is not available for public libraries.",
                        "required": false,
                        "type": "string",
                        "default": "0",
                        "minimum": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of libraries to return for a paged response. \nPaging is not available for public libraries. \n\n**Possible Values** \n- Min: 1. \n- Max: 10.",
                        "required": false,
                        "type": "string",
                        "default": "10",
                        "minimum": 1
                    },
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "Customize which libraries to include in the response, based on ownership. \n\n**Possible Values** \n- `private`: Libraries owned by the user. \n- `incoming`: Libraries shared with the user. \n- `outgoing`: Libraries the user has shared with others. \n- `public`: Libraries the user has followed. \n- `all`: All of the above except public.",
                        "required": false,
                        "type": "string",
                        "default": "all"
                    },
                    {
                        "name": "selector",
                        "in": "query",
                        "description": "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `collaboration`: Add collaboration data to a lesser-scoped selector. \n- `groups`: Include group data in the response. \n- `rendition_grid`: Provides a set of links to library element image renditions, which can be combined to create a thumbnail for the library. The `main` rendition link is the first asset uploaded to the library, while the `tiles` contain the three most recently updated library elements' rendition links. \n",
                        "required": false,
                        "type": "string",
                        "default": "default"
                    },
                    {
                        "name": "toolkit",
                        "in": "query",
                        "description": "Customize which toolkit libraries to include in the response. \n\n**Possible Values**- `all`: Include all toolkit libraries. \n- `none`: Do not include any toolkit libraries. \n- `<toolkit-id>`: Include libraries matching a specific toolkit-id, or comma-separated list of toolkit-ids.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LibrariesInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Create a library",
                "description": "",
                "operationId": "createLibraries",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "invocation_mode",
                        "in": "query",
                        "description": "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CreateLibraryPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryInfo"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryInfo"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/bookmarks": {
            "get": {
                "tags": [
                    "Library Service - Bookmarks"
                ],
                "summary": "Retrieves all bookmarks for a user",
                "description": "",
                "operationId": "getBookmarks",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryBookmarks"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found: The specified resource could not be found.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Library Service - Bookmarks"
                ],
                "summary": "Add bookmarks for user, one or multiple",
                "description": "",
                "operationId": "addLibraryBookmarks",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/BookmarksPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryBookmarks"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryBookmarks"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found: The specified resource could not be found.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/bookmarks/{bookmarkId}": {
            "put": {
                "tags": [
                    "Library Service - Bookmarks"
                ],
                "summary": "Update an existing bookmark by ID",
                "description": "",
                "operationId": "putLibraryBookmark",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "bookmarkId",
                        "in": "path",
                        "description": "The ID of the requested bookmark.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/BookmarksPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryBookmarks"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found: The specified resource could not be found.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Library Service - Bookmarks"
                ],
                "summary": "Remove a bookmark",
                "description": "",
                "operationId": "removeLibraryBookmark",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "bookmarkId",
                        "in": "path",
                        "description": "The ID of the requested bookmark.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found: The specified resource could not be found.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}": {
            "get": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Retrieve a specific library",
                "description": "",
                "operationId": "getLibrary",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "selector",
                        "in": "query",
                        "description": "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `collaboration`: Add collaboration data to a lesser-scoped selector. \n- `groups`: Include group data in the response. \n- `rendition_grid`: Provides a set of links to library element image renditions, which can be combined to create a thumbnail for the library. The `main` rendition link is the first asset uploaded to the library, while the `tiles` contain the three most recently updated library elements' rendition links. \n",
                        "required": false,
                        "type": "string",
                        "default": "default"
                    },
                    {
                        "name": "libraryVersion",
                        "in": "query",
                        "description": "Retrieve a cached library response (if available) for the specified version. \nTo ensure the most recent cached version, use the `version`, which is provided when retrieving the library list. \nIf the cached version is unavailable for some reason, the live result will be returned. \nUsing this parameter is optional, but is likely to provide substantially faster performance. \n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DbLibraryInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Retrieve a specific library",
                "description": "",
                "operationId": "headLibrary",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Delete a specific library",
                "description": "",
                "operationId": "deleteLibrary",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}/archive": {
            "post": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Restore Archived Elements",
                "description": "",
                "operationId": "unArchiveLibraryElements",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "invocation_mode",
                        "in": "path",
                        "description": "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PostLibraryElementsPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncResponsePayload"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/AsyncAcceptedResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Permanently delete archived elements",
                "description": "",
                "operationId": "deleteLibraryElements",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ElementListPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}/archive/{elementId}": {
            "delete": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Permanently delete an archived element",
                "description": "",
                "operationId": "deleteLibraryElement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "elementId",
                        "in": "path",
                        "description": "The ID of the requested element.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}/elements": {
            "get": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Retrieve the elements within a library",
                "description": "",
                "operationId": "getLibraryElements",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Sorting option for the response list. \nReverse sort is enabled with a - character ahead of the sorting vector. (ex: -modified_date) \nMulti-vector sort is enabled by including multiple vectors separated by commas. (ex: name,-modified_date) \nSorting is not available for public libraries. \n\n**Possible Values** \n- `name`: Sort by the name.\n- `modified_date`: Sort by the last modified date.",
                        "required": false,
                        "type": "string",
                        "default": "-modified_date"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "The first result to include for a paged response, 0-based. \nThis parameter is required if a limit is specified. \nPaging is not available for public libraries.",
                        "required": false,
                        "type": "string",
                        "default": "0",
                        "minimum": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of results to return for a paged response. \nPaging is not available for public libraries. \n\n**Possible Values** \n- Min: 1. \n- Max: 100.",
                        "required": false,
                        "type": "string",
                        "default": "10",
                        "maximum": 100,
                        "minimum": 1
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Limits results to those identified with the provided element mimetype.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "description": "Limits results to those assigned to the provided `group_id` (can be either `group_id` or `classifier#group_id`). \nParameters without a classifier will populate as `$default#group_id`. \nTo specify ungrouped elements, use `$none$`",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "selector",
                        "in": "query",
                        "description": "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `representations`: Flattened list of assets associated with the library element.",
                        "required": false,
                        "type": "string",
                        "default": "default"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LibraryElementsInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Create, copy, or move elements",
                "description": "Create a new element, or copy/move existing elements. \n\n**Create Element** \nCreate a single element. All elements require at least one asset-based or literal representation. \nWhen creating a new asset-based element (ex: images, thumbnails, video), upload the asset(s) BEFORE creating the element. \nUse the response(s) from the Upload Asset API call(s) as objects in the `representations` array when using this API to create a new element. \n\n**Move Elements** \nMove one or more elements, which means delete it from its current location and create it in the target library (indicated by this API's `libraryId` path param). \nTo move an element, use the `self` object in the request body of this API call. \n- `elements`: Array of element(s) to move, specified by Element ID. \n- `id`: The library where the element(s) currently exist, specified by Library URN. \n\n**Copy Elements** \nCopy one or more elements, which means leave the original element untouched and create a copy of it in the target library (indicated by this API's `libraryId` path param). \nTo copy an element, use the `source` object in the request body of this API call. \n- `elements`: Array of element(s) to move, specified by Element ID. \n- `id`: The library where the element(s) currently exist, specified by Library URN. If the source Library ID is the same as the target library, the element(s) will be duplicated.",
                "operationId": "postLibraryElements",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "invocation_mode",
                        "in": "path",
                        "description": "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PostLibraryElementsPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LibraryElementsInfo"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/LibraryElementsInfo"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found: The specified resource could not be found.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed: The server does not meet one of the preconditions on the request header fields.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type: The request entity has a media type which is not supported.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests: The user has sent too many requests in a given amount of time.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Move a library's elements to the archive",
                "description": "",
                "operationId": "archiveLibraryElements",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ElementListPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}/elements/metadata": {
            "put": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Update a specific library's element",
                "description": "Update a specific library's element. \nThis API is intended solely for top-level element attribute updates. \nPlease look to `PUT /api/v1/libraries/{libraryId}/elements/{elementId}/representations` for updates to element assets and representations.",
                "operationId": "updateLibraryElements",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UpdateLibraryElementsPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}/elements/{elementId}": {
            "get": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Retrieve a specific library's element",
                "description": "",
                "operationId": "getLibraryElement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "elementId",
                        "in": "path",
                        "description": "The ID of the requested element.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "selector",
                        "in": "query",
                        "description": "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `representations`: Flattened list of assets associated with the library element.",
                        "required": false,
                        "type": "string",
                        "default": "default"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LibraryElementsInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Move a library's element to the archive",
                "description": "",
                "operationId": "archiveLibraryElement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "elementId",
                        "in": "path",
                        "description": "The ID of the requested element.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/AsyncMonitorResponseDTO"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable: The requested format is not accepted for this method.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error: We had a problem with our server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable: We are temporarily offline for maintenance, please try again later.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/libraries/{libraryId}/elements/{elementId}/representations": {
            "put": {
                "tags": [
                    "Library Service"
                ],
                "summary": "Add/Update/Delete element representations in existing library",
                "description": "Add/Update/Delete element representations in existing library. \nThe `representations` array input includes all representations to be created, retained, or updated. \n\n**Special Cases** \n- `Create`: New representations can be submitted alongside the existing renditions, but with no `id` field. \n- `Retain`: Existing representations with no changes should be submitted exactly as returned by the element. \n- `Update`: Changes to representations must include the accurate id for the exising entry and should include all fields, updated and not updated. \n- `Delete`: Element renditions missing from the payload will be removed from the element. \n\n**Notes** \n- Representations referencing assets uploaded to the library (primary and secondary) are immutable. To update an uploaded asset representation, submit a new representation with no id field. This will effectively delete and replace it. \n- The `representations` array resulting from this call will contain different `id` values that the existing element and the payload submission.",
                "operationId": "putLibraryElementRepresentations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "elementId",
                        "in": "path",
                        "description": "The ID of the requested element.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "invocation_mode",
                        "in": "path",
                        "description": "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PostLibraryElementsPayload"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "The API key assigned to your API client account when you signed up.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-request-id",
                        "in": "header",
                        "description": "A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LibraryElementsInfo"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/LibraryElementsInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request: The request is invalid.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized: Authorization Token is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden: API Key is not accepted.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
[...]
